{% extends "base.html" %}

{% block title %}Zaloguj się{% endblock %}

{% block content %}
  <h1>Zaloguj się</h1>
  {% if form.errors %}
    <p>
     Nazwa użytkownika lub hasło nieprawidłowe.
     Spróbuj ponownie.
    </p>
  {% else %}
      <p>Użyj poniższego formularza, aby się zalogować. Jeżeli nie masz jeszcze konta, możesz je utworzyć <a href="{% url "register" %}">tutaj</a>.</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Zaloguj się"></p>
    </form>
      <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
  </div>
{% endblock %}
